In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
cd drive/MyDrive/Colab\ Notebooks/Triple_Analysis

/content/drive/MyDrive/Colab Notebooks/Triple_Analysis

In [ ]:
ls

1_get_original_sentence.ipynb  preprocessed_topic4_corpus.csv
2_entity_type_focus.ipynb      preprocessed_topic4_triples.csv
3_relation_focus.ipynb         relation_type_analysis.csv
entity_type_analysis.csv       triple_with_org_sent.csv

In [ ]:
import time

start_time = time.time()

In [ ]:
import pandas as pd
import numpy as np

### Load dataset and tokenize

In [ ]:
df = pd.read_csv('preprocessed_topic4_corpus.csv')
df.head()

,Unnamed: 0,doc_id,sent_id,abstract_sents
0,0,0,0,report retinal vein occlusion rvo age-related ...
1,1,0,1,clinical data including fundus photographs opt...
2,2,0,2,twenty-three eyes 21 patients included median ...
3,3,0,3,twelve eyes 522 submacular hemorrhage 11 478 rvo
4,4,0,4,twelve patients 609 vaccinated pfizer vaccine ...

In [ ]:
triple_df = pd.read_csv('preprocessed_topic4_triples.csv')
triple_df.head()

,Unnamed: 0,doc_id,sent_id,triple,head_idx,verb_idx,tail_idx,head_str,head_lemma,head_type,tail_str,tail_lemma,tail_type,main_verb,lemma_verb,cluster_verb
0,0,0.0,0.0,submacular hemorrhage relate sars-cov-2,10.0,11.0,14.0,submacular hemorrhage,submacular hemorrhage,DISEASE_OR_SYNDROME,sars-cov-2,sars-cov-2,CORONAVIRUS,related,relate,relate
1,1,0.0,0.0,submacular hemorrhage relate vaccine,10.0,11.0,15.0,submacular hemorrhage,submacular hemorrhage,DISEASE_OR_SYNDROME,vaccines,vaccine,CHEMICAL,related,relate,relate
2,2,0.0,0.0,age-related relate sars-cov-2,5.0,11.0,14.0,age-related,age-related,GENE_OR_GENOME,sars-cov-2,sars-cov-2,CORONAVIRUS,related,relate,relate
3,3,0.0,0.0,age-related relate vaccine,5.0,11.0,15.0,age-related,age-related,GENE_OR_GENOME,vaccines,vaccine,CHEMICAL,related,relate,relate
4,4,0.0,0.0,macular relate sars-cov-2,6.0,11.0,14.0,macular,macular,TISSUE,sars-cov-2,sars-cov-2,CORONAVIRUS,related,relate,relate

Group by doc_id, sent_id, triple = [t1, t2]

Then, merge on doc_id, sent_id

Get - doc_id, sent_id, sent, triple list

Then, we can know what triples are extracted from specific sentence

In [ ]:
triple_list_df = triple_df.groupby(['doc_id', 'sent_id'])['triple'].apply(list).reset_index(name='triple_list')

In [ ]:
triple_list_df.head()

   doc_id  sent_id                                        triple_list
0     0.0      0.0  [submacular hemorrhage relate sars-cov-2, subm...
1     0.0      4.0  [twelve vaccinate chadox1, twelve vaccinate va...
2     1.0      0.0  [sars-cov-2 follow covid-19, sars-cov-2 follow...
3     1.0      2.0  [serum test receptor, serum test sars-cov-2, s...
4     1.0      8.0  [vaccine associate vaccine-induced, coronaviru...

In [ ]:
org_sent_df = pd.merge(triple_list_df, df, on=["doc_id", "sent_id"])

In [ ]:
org_sent_df.to_csv('triple_with_org_sent.csv')

In [ ]:
end_time = time.time()

print('Estimate runtime: ', (end_time-start_time)/60, ' minutes.')

Estimate runtime:  0.022283283869425456  minutes.

In [ ]:
### for 5000 sentences

# Estimate runtime:  0.19963531891504924  minutes.