In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
cd drive/MyDrive/Colab\ Notebooks/Triple_Analysis

/content/drive/MyDrive/Colab Notebooks/Triple_Analysis

In [ ]:
ls

1_get_original_sentence.ipynb  preprocessed_topic4_corpus.csv
2_entity_type_focus.ipynb      preprocessed_topic4_triples.csv
3_relation_focus.ipynb         relation_type_analysis.csv
entity_type_analysis.csv       triple_with_org_sent.csv

In [ ]:
import time

start_time = time.time()

In [ ]:
import pandas as pd
import numpy as np

### Load dataset and tokenize

In [ ]:
triple_df = pd.read_csv('preprocessed_topic4_triples.csv')
triple_df.head()

,Unnamed: 0,doc_id,sent_id,triple,head_idx,verb_idx,tail_idx,head_str,head_lemma,head_type,tail_str,tail_lemma,tail_type,main_verb,lemma_verb,cluster_verb
0,0,0.0,0.0,submacular hemorrhage relate sars-cov-2,10.0,11.0,14.0,submacular hemorrhage,submacular hemorrhage,DISEASE_OR_SYNDROME,sars-cov-2,sars-cov-2,CORONAVIRUS,related,relate,relate
1,1,0.0,0.0,submacular hemorrhage relate vaccine,10.0,11.0,15.0,submacular hemorrhage,submacular hemorrhage,DISEASE_OR_SYNDROME,vaccines,vaccine,CHEMICAL,related,relate,relate
2,2,0.0,0.0,age-related relate sars-cov-2,5.0,11.0,14.0,age-related,age-related,GENE_OR_GENOME,sars-cov-2,sars-cov-2,CORONAVIRUS,related,relate,relate
3,3,0.0,0.0,age-related relate vaccine,5.0,11.0,15.0,age-related,age-related,GENE_OR_GENOME,vaccines,vaccine,CHEMICAL,related,relate,relate
4,4,0.0,0.0,macular relate sars-cov-2,6.0,11.0,14.0,macular,macular,TISSUE,sars-cov-2,sars-cov-2,CORONAVIRUS,related,relate,relate

In [ ]:
for idx in triple_df.index:
  triple_df.loc[idx, 'head_tail_type'] = triple_df.loc[idx, 'head_type'] + ' --- ' + triple_df.loc[idx, 'tail_type']

In [ ]:
relation_group = triple_df.groupby(['cluster_verb'])

In [ ]:
entity_type_df = relation_group['head_tail_type'].apply(list).reset_index(name='head_tail_list')

In [ ]:
entity_type_df['unique_head_tail_list'] = entity_type_df['head_tail_list'].apply(lambda x: list(set(x)))

In [ ]:
entity_type_df['triple_count'] = entity_type_df['head_tail_list'].apply(lambda x: len(x))

In [ ]:
entity_type_df.head()

,cluster_verb,head_tail_list,unique_head_tail_list,triple_count
0,abrogate,"[CHEMICAL --- CARDINAL, CHEMICAL --- CARDINAL,...","[CHEMICAL --- LOC, CHEMICAL --- CARDINAL]",3
1,ache,"[CHEMICAL --- DISEASE_OR_SYNDROME, DISEASE_OR_...","[SIGN_OR_SYMPTOM --- DISEASE_OR_SYNDROME, CHEM...",5
2,acknowledge,"[CELL --- CHEMICAL, CELL --- CHEMICAL, CELL --...","[CELL --- SUBSTRATE, CELL --- CELL, CELL --- C...",15
3,acquire,"[GROUP --- DISEASE_OR_SYNDROME, GROUP --- CHEM...","[CELL --- GROUP, GROUP --- GROUP, GROUP --- DI...",66
4,activate,"[DISEASE_OR_SYNDROME --- GENE_OR_GENOME, DISEA...","[GROUP --- GROUP, CHEMICAL --- GENE_OR_GENOME,...",26

In [ ]:
entity_type_df.to_csv('relation_type_analysis.csv')

In [ ]:
end_time = time.time()

print('Estimate runtime: ', (end_time-start_time)/60, ' minutes.')

Estimate runtime:  0.47499645948410035  minutes.

In [ ]:
### for 5000 sentences

# Estimate runtime:  0.19963531891504924  minutes.