### 8. Preprocess topic4 dataset

In [ ]:
import torch
import pandas as pd
import numpy as np
import time
start_time = time.time()

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
data = pd.read_csv("topic4_sent_corpus.csv",encoding="latin1" )

In [ ]:
data.rename(columns = {'abstract_sents':'abstract_sents_raw'}, inplace = True)

In [ ]:
data.head()

,Unnamed: 0,doc_id,sent_id,abstract_sents_raw
0,0,0,0,to report retinal vein occlusion (rvo) and age...
1,1,0,1,clinical data including fundus photographs and...
2,2,0,2,twenty-three eyes of 21 patients were included...
3,3,0,3,twelve eyes (52.2%) had submacular hemorrhage ...
4,4,0,4,twelve patients (60.9%) had been vaccinated wi...

In [ ]:
print('total number of sentences in topic 4 dataset: ', len(data))

total number of sentences in topic 4 dataset:  62503

Preprocessing
- remove non alphabet. Not non English words because Covid-19 is not english word. Taking only alphabet will remove digits, & punctuations automatically. 
- remove stop words

In [ ]:
### remove stop words
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

stop_words = set(stopwords.words('english'))
ignore_stopwords = ['do', 'does', 'did', 'be', 'is', 'are', 'was', 'were', 'has', 'have', 'having', 'had']
selected_stopwords = stop_words - set(ignore_stopwords)

In [ ]:
# remove non alphabet
import re
taken_specifics = [' ', '-', '_']

In [ ]:
# removing stop words
data['abstract_sents'] = data['abstract_sents_raw'].apply(lambda x: ' '.join([w for w in word_tokenize(x) if not w.lower() in stop_words]))

In [ ]:
# removing non alphabet
data['abstract_sents'] = data['abstract_sents'].apply(lambda x: re.sub(' +', ' ', ''.join([i for i in x if (i.isdigit() or (i in taken_specifics) or i.isalpha())])))

In [ ]:
data

,Unnamed: 0,doc_id,sent_id,abstract_sents_raw,abstract_sents
0,0,0,0,to report retinal vein occlusion (rvo) and age...,report retinal vein occlusion rvo age-related ...
1,1,0,1,clinical data including fundus photographs and...,clinical data including fundus photographs opt...
2,2,0,2,twenty-three eyes of 21 patients were included...,twenty-three eyes 21 patients included median ...
3,3,0,3,twelve eyes (52.2%) had submacular hemorrhage ...,twelve eyes 522 submacular hemorrhage 11 478 rvo
4,4,0,4,twelve patients (60.9%) had been vaccinated wi...,twelve patients 609 vaccinated pfizer vaccine ...
...,...,...,...,...,...
62498,62498,6177,5,few therapeutics in medicine offer seasonal ef...,therapeutics medicine offer seasonal efficacy ...
62499,62499,6177,6,infection control measures such as physical di...,infection control measures physical distancing...
62500,62500,6177,7,appending annual influenza vaccination to thes...,appending annual influenza vaccination measure...
62501,62501,6178,0,antibodies against sars-cov-2 decay but persis...,antibodies sars-cov-2 decay persist six months...
62502,62502,6178,1,only 2 of 227 vaccinated healthcare workers ex...,2 227 vaccinated healthcare workers experience...

In [ ]:
df = data[['doc_id', 'sent_id', 'abstract_sents']]
df.to_csv('preprocessed_topic4_corpus.csv')

In [ ]:
end_time = time.time()

print('Estimate runtime: ', (end_time-start_time)/60, ' minutes.')

Estimate runtime:  0.2287003954251607  minutes.

In [ ]:
# Estimate runtime:  0.2450804392496745  minutes.