In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd drive/MyDrive/Colab\ Notebooks/Synset_Grouping

/content/drive/.shortcut-targets-by-id/1GSBPdsf5hLXUWvkP6mXrY40FQGH44Er5/Synset_Grouping

In [ ]:
ls

1_prepare_synset_data.ipynb
2_prepare_synset_data_part2.ipynb
3_group_synset.ipynb
4_label_cluster_title_to_topic4.ipynb
cluster_matrix_topic4_5000sents.csv
preprocessed_topic4_cluster_matrix.csv
preprocessed_topic4_corpus.csv
preprocessed_topic4_verb_list.csv
preprocessed_topic4_vp_synset.csv
topic4_dataset.csv
topic4_sent_corpus.csv
topic4_verb_cluster_data_5000sents.csv
topic4_verb_list_5000sents.csv
vp_synset_data_topic4_5000sents.csv
wrong_4_label_cluster_title_to_topic4.ipynb

- input: <unique,valid> lemmatized verb list with frequency and synset

- output: 
    - input file updated with cluster_id and cluster_title
    - cluster file with <cluster_id, cluster_title, verb_list, actua_data_list: [(lemma, freq)]>

In [ ]:
import pandas as pd
import time

In [ ]:
start_time = time.time()

In [ ]:
cluster_df = pd.read_csv('preprocessed_topic4_cluster_matrix.csv')

In [ ]:
cluster_df.head()

,Unnamed: 0,cluster_id,cluster_title,verb_list,actual_data_list,member_lemma
0,0,0,abandon,['give_up' 'vacate' 'abandon' 'forsake' 'deser...,[['abandon' '4']],['abandon']
1,1,1,abate,['let_up' 'slake' 'die_away' 'slack' 'slack_of...,[['abate' '3']],['abate']
2,2,2,contract,['get' 'urge_on' 'peg_down' 'subscribe' 'deter...,[['abbreviate' '1']\n ['abridge' '6']\n ['cont...,['abbreviate' 'abridge' 'contract' 'narrow' 'p...
3,3,3,induce,['furnish' 'get' 'substantiate' 'weather' 'ver...,[['abide' '1']\n ['bear' '79']\n ['behave' '2'...,['abide' 'bear' 'behave' 'birth' 'carry' 'cond...
4,4,4,ablate,['ablate'],[['ablate' '1']],['ablate']

In [ ]:
vp_df = pd.read_csv('topic4_verb_list_5000sents.csv')

In [ ]:
vp_df.head()

,Unnamed: 0,doc_id,sent_id,verb_id,verb,check_verb,main_verb,lemma_verb
0,0,0,0,36,was conducted,"[(9148364968459358513, 1, 2)]",conducted,conduct
1,0,0,0,11,related,"[(9148364968459358513, 0, 1)]",related,relate
2,1,0,1,13,were reviewed,"[(9148364968459358513, 1, 2)]",reviewed,review
3,1,0,1,2,including,"[(9148364968459358513, 0, 1)]",including,include
4,2,0,2,7,were included,"[(9148364968459358513, 1, 2)]",included,include

In [ ]:
for vp_idx in range(len(vp_df)):
  lemma_verb = vp_df.loc[vp_idx, 'lemma_verb']
  # print('vp: ', lemma_verb)

  for cluster_idx in range(len(cluster_df)):
    member_lemma_list = cluster_df.loc[cluster_idx, 'member_lemma'].replace('\n', '').strip('\'][\'').split('\' \'')

    if lemma_verb in member_lemma_list:
      vp_df.loc[vp_idx, 'cluster_title'] = cluster_df.loc[cluster_idx, 'cluster_title']

      '''
      print('cluster_idx: ', cluster_idx)
      print('cluster_title: ', cluster_df.loc[cluster_idx, 'cluster_title'])
      print('cluster list: ', member_lemma_list)
      '''
  # break

In [ ]:
vp_df.head()

,Unnamed: 0,doc_id,sent_id,verb_id,verb,check_verb,main_verb,lemma_verb,cluster_title
0,0,0,0,36,was conducted,"[(9148364968459358513, 1, 2)]",conducted,conduct,induce
1,0,0,0,11,related,"[(9148364968459358513, 0, 1)]",related,relate,relate
2,1,0,1,13,were reviewed,"[(9148364968459358513, 1, 2)]",reviewed,review,review
3,1,0,1,2,including,"[(9148364968459358513, 0, 1)]",including,include,include
4,2,0,2,7,were included,"[(9148364968459358513, 1, 2)]",included,include,include

In [ ]:
vp_df

,Unnamed: 0,doc_id,sent_id,verb_id,verb,check_verb,main_verb,lemma_verb,cluster_title
0,0,0,0,36,was conducted,"[(9148364968459358513, 1, 2)]",conducted,conduct,induce
1,0,0,0,11,related,"[(9148364968459358513, 0, 1)]",related,relate,relate
2,1,0,1,13,were reviewed,"[(9148364968459358513, 1, 2)]",reviewed,review,review
3,1,0,1,2,including,"[(9148364968459358513, 0, 1)]",including,include,include
4,2,0,2,7,were included,"[(9148364968459358513, 1, 2)]",included,include,include
...,...,...,...,...,...,...,...,...,...
11304,4998,494,3,14,infected,"[(9148364968459358513, 0, 1)]",infected,infect,infect
11305,4998,494,3,16,vaccinated,"[(9148364968459358513, 0, 1)]",vaccinated,vaccinate,vaccinate
11306,4998,494,3,18,vaccinated,"[(9148364968459358513, 0, 1)]",vaccinated,vaccinate,vaccinate
11307,4999,495,0,9,have arisen,"[(9148364968459358513, 1, 2)]",arisen,arise,develop
11308,4999,495,0,16,may reduce,"[(9148364968459358513, 1, 2)]",reduce,reduce,reduce

In [ ]:
vp_df.to_csv('preprocessed_topic4_synset_group_finalResult.csv')

In [ ]:
end_time = time.time()

print('Estimate runtime: ', (end_time-start_time)/60, ' minutes.')

Estimate runtime:  1.5682579596837363  minutes.

In [ ]:
# Estimate runtime:  1.5818639238675436  minutes.

In [ ]:
# all
# Estimate runtime:  1.5682579596837363  minutes.