### 1.2. Merge the exploded CORD-NER-corpus.csv files from 1.1.

In [ ]:
import pandas as pd
import json
import time

start_time = time.time()

In [ ]:
file_list = [
             'corpus_without_tag_0-2400_78min.csv', 'corpus_without_tag_2400-3120_31min.csv', 'corpus_without_tag_3120-4000_45min.csv', 
             'corpus_without_tag_4000-5000_48min.csv', 'corpus_without_tag_5000-7000_201min.csv', 'corpus_without_tag_7000-8165_76min.csv', 
             'corpus_without_tag_8165-9k_35min.csv', 'corpus_without_tag_9k-10k_46min.csv', 'corpus_without_tag_10k-10500_12min.csv', 
             'corpus_without_tag_10500-11k_11min.csv', 'corpus_without_tag_11k-11500_12min.csv', 'corpus_without_tag_11500-12700_74min.csv', 
             'corpus_without_tag_12700-14055_86min.csv', 'corpus_without_tag_14055-15k_35min.csv', 'corpus_without_tag_15k-16k_36min.csv', 
             'corpus_without_tag_16k-17k_38min.csv', 'corpus_without_tag_17k-18k_22min.csv', 'corpus_without_tag_18k-19k_3min.csv', 
             'corpus_without_tag_19k-20k_3min.csv', 'corpus_without_tag_20k-21k_3min.csv', 'corpus_without_tag_21k-22k_2min.csv', 
             'corpus_without_tag_22k-23k_3min.csv', 'corpus_without_tag_23k-24k_2min.csv', 'corpus_without_tag_24k-25k_2min.csv', 
             'corpus_without_tag_25k-27k_7min.csv', 'corpus_without_tag_27k-29300_34min.csv', 'corpus_without_tag_29300-end_1min.csv'
]

In [ ]:
df = pd.DataFrame()
df['doc_id'] = ''
df['sent_id'] = ''
df['sent_tokens'] = ''
df['word_id'] = ''
df['tag'] = ''

In [ ]:
for file in file_list:
    print(file)
    df_sub = pd.read_csv(file)

    frames = [df, df_sub]
    df = pd.concat(frames)

corpus_without_tag_0-2400_78min.csv
corpus_without_tag_2400-3120_31min.csv
corpus_without_tag_3120-4000_45min.csv
corpus_without_tag_4000-5000_48min.csv
corpus_without_tag_5000-7000_201min.csv
corpus_without_tag_7000-8165_76min.csv
corpus_without_tag_8165-9k_35min.csv
corpus_without_tag_9k-10k_46min.csv
corpus_without_tag_10k-10500_12min.csv
corpus_without_tag_10500-11k_11min.csv
corpus_without_tag_11k-11500_12min.csv
corpus_without_tag_11500-12700_74min.csv
corpus_without_tag_12700-14055_86min.csv
corpus_without_tag_14055-15k_35min.csv
corpus_without_tag_15k-16k_36min.csv
corpus_without_tag_16k-17k_38min.csv
corpus_without_tag_17k-18k_22min.csv
corpus_without_tag_18k-19k_3min.csv
corpus_without_tag_19k-20k_3min.csv
corpus_without_tag_20k-21k_3min.csv
corpus_without_tag_21k-22k_2min.csv
corpus_without_tag_22k-23k_3min.csv
corpus_without_tag_23k-24k_2min.csv
corpus_without_tag_24k-25k_2min.csv
corpus_without_tag_25k-27k_7min.csv
corpus_without_tag_27k-29300_34min.csv
corpus_without_tag_29300-end_1min.csv

In [ ]:
df

       doc_id sent_id                    sent_tokens word_id tag  Unnamed: 0
0           0       0  angiotensin_converting_enzyme       0   O         0.0
1           0       0                              2       1   O         0.0
2           0       0                              (       2   O         0.0
3           0       0                           ace2       3   O         0.0
4           0       0                              )       4   O         0.0
...       ...     ...                            ...     ...  ..         ...
461123  29499      66                             in      29   O        66.0
461124  29499      66                   interpreting      30   O        66.0
461125  29499      66                           this      31   O        66.0
461126  29499      66                         result      32   O        66.0
461127  29499      66                              .      33   O        66.0

[69786688 rows x 6 columns]

In [ ]:
end_time = time.time()

estimate_runtime = round((end_time-start_time)/60)
print('Estimate runtime: ', (end_time-start_time)/60, ' minutes.')

Estimate runtime:  2.10879727602005  minutes.

In [ ]:
file_name = 'corpus_without_tag_all.csv'
df.to_csv(file_name)

In [ ]:
# file merge total runtime = 2.1 minutes
# file save total runtime = 3 min