### 2.1. Explode CORD-NER-ner.json file into dataframe (.csv)

In [ ]:
import pandas as pd
import numpy as np
import json
import time

start_time = time.time()

In [ ]:
# read tokenized file

with open('CORD-NER-ner.json', 'r') as myfile:
    ner_data = myfile.read()

In [ ]:
ner_list = ner_data.split('\n')

In [ ]:
print('Total files: ', len(ner_list))

Total files:  29501

In [ ]:
df = pd.DataFrame()

In [ ]:
for idx in range(10000):
    data = json.loads(ner_list[idx])
    df_1 = pd.DataFrame(data)

    # no sentence in doc_id = 23727
    if df_1.empty:
        continue

    df_2 = pd.json_normalize(df_1['sents'])
    df_explode = df_2.explode('entities')
    df_explode = df_explode.dropna()
    df_3 = pd.json_normalize(df_explode['entities'])
    df_3 = df_3.join(df_explode['sent_id'].reset_index())
    df_3['doc_id'] = idx

    frames = [df, df_3]
    df = pd.concat(frames)

    if ((idx % 500) == 0):
        print('idx: ', idx, ' & continuing ... ')
    
  #break

idx:  0  & continuing ...
idx:  500  & continuing ...
idx:  1000  & continuing ...
idx:  1500  & continuing ...
idx:  2000  & continuing ...
idx:  2500  & continuing ...
idx:  3000  & continuing ...
idx:  3500  & continuing ...
idx:  4000  & continuing ...
idx:  4500  & continuing ...
idx:  5000  & continuing ...
idx:  5500  & continuing ...
idx:  6000  & continuing ...
idx:  6500  & continuing ...
idx:  7000  & continuing ...
idx:  7500  & continuing ...
idx:  8000  & continuing ...
idx:  8500  & continuing ...
idx:  9000  & continuing ...
idx:  9500  & continuing ...

In [ ]:
df

,text,start,end,type,index,sent_id,doc_id
0,angiotensin_converting_enzyme 2,0.0,2.0,GENE_OR_GENOME,0,0,0
1,ace2,3.0,4.0,GENE_OR_GENOME,0,0,0
2,sars_cov_2,7.0,8.0,CORONAVIRUS,0,0,0
3,receptor,8.0,9.0,CHEMICAL,0,0,0
4,sars_cov_2,13.0,14.0,CORONAVIRUS,0,0,0
...,...,...,...,...,...,...,...
518,"tanshinone_iia , salvinolone",6.0,9.0,CHEMICAL,185,185,9999
519,cryptotanshinone,10.0,11.0,CHEMICAL,185,185,9999
520,ferruginol,13.0,14.0,CHEMICAL,185,185,9999
521,nmr_spectroscopy,20.0,21.0,GENE_OR_GENOME,185,185,9999
522,diterpenes,14.0,15.0,CHEMICAL,186,186,9999

In [ ]:
df.to_csv('corpus_with_tag_part2_1_0-10k.csv')

In [ ]:
end_time = time.time()

print('Estimate runtime: ', (end_time-start_time)/60, ' minutes.')

Estimate runtime:  35.56483484506607  minutes.

In [ ]:
# Estimate runtime:  35.56483484506607  minutes.