### 2.2. Mark the Prefix 'B/I' for each entity type
- take the result from 2.1
- explode two words entities and mark each type with either of 'B/I' prefix

In [ ]:
import pandas as pd
import numpy as np
import json
import time

start_time = time.time()

In [ ]:
df = pd.read_csv('corpus_with_tag_all.csv')
df.head()

,Unnamed: 0,doc_id,sent_id,text,start,end,type,Unnamed: 0.1,index
0,0,0,0,angiotensin_converting_enzyme 2,0.0,2.0,GENE_OR_GENOME,0.0,0.0
1,1,0,0,ace2,3.0,4.0,GENE_OR_GENOME,1.0,0.0
2,2,0,0,sars_cov_2,7.0,8.0,CORONAVIRUS,2.0,0.0
3,3,0,0,receptor,8.0,9.0,CHEMICAL,3.0,0.0
4,4,0,0,sars_cov_2,13.0,14.0,CORONAVIRUS,4.0,0.0

In [ ]:
df = df.dropna()

In [ ]:
df['text_list'] = df['text'].apply(lambda x: x.split(' '))

In [ ]:
df['word_count'] = df['end'] - df['start']

In [ ]:
df['flag'] = df['type'].apply(lambda x : ['B-'+x])

In [ ]:
df['word_id'] = df['start'].apply(lambda x : [int(x)])

In [ ]:
linked_type_index_list = df[df['word_count'] > 1].index.tolist()

In [ ]:
len(linked_type_index_list)

1813760

In [ ]:
for idx in linked_type_index_list:
    inc = int(len(df.loc[idx,'text'].split(' '))-1)
    flag_i = 'I-' + df.loc[idx, 'type']

    start = int(df.loc[idx,'start'])
    stop = start + inc + 1

    df.loc[idx, 'flag'].extend([flag_i]*inc)
    df.loc[idx, 'word_id'].extend(range(start+1,stop))

    #break

In [ ]:
df.head()

,Unnamed: 0,doc_id,sent_id,text,start,end,type,Unnamed: 0.1,index,text_list,word_count,flag,word_id
0,0,0,0,angiotensin_converting_enzyme 2,0.0,2.0,GENE_OR_GENOME,0.0,0.0,"[angiotensin_converting_enzyme, 2]",2.0,"[B-GENE_OR_GENOME, I-GENE_OR_GENOME]","[0, 1]"
1,1,0,0,ace2,3.0,4.0,GENE_OR_GENOME,1.0,0.0,[ace2],1.0,[B-GENE_OR_GENOME],[3]
2,2,0,0,sars_cov_2,7.0,8.0,CORONAVIRUS,2.0,0.0,[sars_cov_2],1.0,[B-CORONAVIRUS],[7]
3,3,0,0,receptor,8.0,9.0,CHEMICAL,3.0,0.0,[receptor],1.0,[B-CHEMICAL],[8]
4,4,0,0,sars_cov_2,13.0,14.0,CORONAVIRUS,4.0,0.0,[sars_cov_2],1.0,[B-CORONAVIRUS],[13]

In [ ]:
df.to_csv('corpus_with_tags_explodeNeed_version.csv')

In [ ]:
end_time = time.time()

print('Estimate runtime: ', (end_time-start_time)/60, ' minutes.')

Estimate runtime:  5.149816866715749  minutes.